[Unit]
Description=Office Controller Service
After=network.target

[Service]
WorkingDirectory=/var/local/OfficeControllerServer
ExecStart=/usr/bin/node index.js
Restart=on-failure
User=root
Type=simple

[Install]
WantedBy=multi-user.target
